#tarjeta {
  border-radius: 15px;
  padding: 1rem;
}

.card {
  padding: 2.5rem;
  width: 400px;
  height: 400px;
  margin: auto;
}

.card img {
  border-radius: 50%;
  padding: 20px;
  margin: 0;
}

h3 {
  text-align: center !;
}
