.titulo_servicios {
  font-size: 3rem;
  text-align: center;
  padding: 3%;
  color: #846954;
}

.card {
  padding: 2.5rem;
  width: 400px;
  height: 400px;
  margin-top: 2rem;
  margin-left: 1rem;
}
